body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.global-layout-container {
  max-width: 1280px;
  min-width: 640px;

  margin: 0 auto;
  .global-header-container {
    background-color: #ffffff;
  }

  .global-content-container {
    background-color: #ffffff;
    padding: 25px 50px;
  }

  .global-footer-container {
    background-color: #ffffff;
  }
}
